/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #E7D8BE !default;
$body-color: #0d0d0c !default;
$text-muted: #002b36 !default;
$link-color: #812143 !default;
$link-color-hover: #812143  !default;
$selection-bg: #812143  !default;

$input-panel-bg: rgba(233, 236, 233, 0.2) !default;

// headings
$presentation-heading-font: "League Gothic", sans-serif !default;
$presentation-heading-color: #812143  !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
